#floatingNav-push {
  height: 100px;
  width: 100%; }

#nav-wrapper {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  background-color: white;
  border-bottom: 2px solid black;
  left: 0px; }

#hoverNav {
  margin-top: 2px;
  position: relative;
  width: 940px;
  padding: 15px 30px;
  left: 50%;
  margin-left: -500px;
  border-bottom: 2px solid gray;
  background-color: #e6e6e6; }
  #hoverNav .two {
    margin-top: -15px;
    padding-top: 15px;
    height: 140px; }
  #hoverNav .selected a {
    color: #c68f2b; }
  #hoverNav a {
    display: block;
    margin: 7px 0 0 0;
    color: inherit;
    font-size: 16px; }
    #hoverNav a.punchy_link {
      font-size: 14px;
      margin: 3px 0 0 0;
      letter-spacing: 0;
      color: #c68f2b;
      font-weight: 600; }
  #hoverNav .left {
    float: left;
    width: 190px;
    margin-right: 21px; }

#floatingNav .widen, #hoverNav .widen {
  width: 150px; }

#floatingNav {
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  height: 80px;
  width: 980px;
  padding: 0 20px;
  z-index: 100;
  background-color: white;
  letter-spacing: 1px;
  position: relative;
  left: 50%;
  margin-left: -510px; }
  #floatingNav .right {
    width: 240px; }
  #floatingNav .selected .selection_indicator {
    padding: 7px 0 14px 0;
    border-color: #c98f08;
    border-style: solid;
    border-width: 4px 0 4px 0; }
  #floatingNav .selection_indicator {
    padding: 11px 0 10px 0; }
  #floatingNav li {
    overflow: hidden;
    list-style: none;
    margin-top: 20px; }
  #floatingNav a {
    color: inherit; }
    #floatingNav a:hover {
      text-decoration: none; }
  #floatingNav h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: inherit;
    margin-left: 0;
    margin-bottom: 2px;
    line-height: 18px;
    letter-spacing: 1px; }
  #floatingNav .account_functionality {
    padding: 20px 0 2px 0; }
    #floatingNav .account_functionality .first {
      margin-right: 5px; }
    #floatingNav .account_functionality .last {
      margin-left: 5px; }
    #floatingNav .account_functionality a {
      display: inline;
      text-transform: none; }
      #floatingNav .account_functionality a:hover {
        text-decoration: underline; }
  #floatingNav .search {
    float: right;
    margin: 0; }
    #floatingNav .search input {
      width: 198px;
      margin: 0;
      padding: 5px 10px 4px 30px; }
