h1, h2, h3, h4, h5, button .btn2, .skinned .btn2 {
  font-family: "proxima-nova-condensed";
  letter-spacing: 1px; }

h2.italic, h3.italic {
  font-family: inherit; }

button .btn2, .skinned .btn2 {
  font-weight: regular; }

.event_type_label {
  font-family: "proxima-nova-condensed"; }

#floatingNav {
  font-family: "proxima-nova-condensed"; }

#hoverNav a {
  font-family: "proxima-nova-condensed"; }

.square .type, .square .title, .square .subtitle, .square .date, .featured_object .type, .featured_object .title, .featured_object .subtitle, .featured_object .date, .event .type, .event .title, .event .subtitle, .event .date, .events .type, .events .title, .events .subtitle, .events .date, .expanded_event_summary .type, .expanded_event_summary .title, .expanded_event_summary .subtitle, .expanded_event_summary .date, .store_promotion_summary .type, .store_promotion_summary .title, .store_promotion_summary .subtitle, .store_promotion_summary .date, .collection .type, .collection .title, .collection .subtitle, .collection .date, .simplified_story_summaries .type, .simplified_story_summaries .title, .simplified_story_summaries .subtitle, .simplified_story_summaries .date, #flyout .type, #flyout .title, #flyout .subtitle, #flyout .date {
  font-family: "proxima-nova-condensed"; }

.search a {
  font-family: "proxima-nova-condensed"; }

.punchy_link {
  font-family: "proxima-nova-condensed"; }

.daymonth, .day_of_month, table.calendar th.current {
  font-family: "proxima-nova-condensed"; }

.blog_post_summary {
  font-family: "proxima-nova-condensed"; }

.icalendar p {
  font-family: "proxima-nova-condensed"; }

a#more_events {
  font-family: "proxima-nova-condensed"; }

#flyout a.show_more {
  font-family: "proxima-nova-condensed"; }
#flyout .dismiss {
  font-family: "proxima-nova-condensed"; }

.events_filter li {
  font-family: "proxima-nova-condensed"; }

.email_subscribe a {
  font-family: "proxima-nova-condensed"; }

.connect a {
  font-family: "proxima-nova-condensed"; }

.event_times .date {
  font-family: Georgia, serif; }

.comments .form a.button {
  font-family: "proxima-nova-condensed"; }

.row.bottom a {
  font-family: "proxima-nova-condensed"; }

.filed_under li {
  font-family: "proxima-nova-condensed"; }

body.dispatches .next .link {
  font-family: "proxima-nova-condensed"; }

body.stories.index_page .neighborhoods {
  font-family: "proxima-nova-condensed"; }

body.read .column_type_summary .title {
  font-family: "proxima-nova-condensed"; }

body.columns h5 {
  font-family: "proxima-nova-condensed"; }

#footer {
  font-family: "proxima-nova-condensed"; }
  #footer .feedback a {
    font-family: "proxima-nova-condensed"; }
